*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    margin: 0;
}

.home{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-agua-dulce-liquido-transparente_53876-142911.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.logo-agua{
    height: 100px;
    width: 210px;
}

@media (min-width: 769px){
    .logo-agua{
        margin-right: 600px;
        
    }}

.inicio, .contacto, .comprar{
    color: midnightblue;
    
}
section {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 10vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 40px;
    margin-block-end: 50px;
 
   
    
}
/*formulario*/
form {
    padding: 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0,0 , 2);
    border-radius:  20px;
    text-align: left;
    width: 370px;
    background-color: rgb(174, 234, 248);
    color: black;
    margin-top: 25px;
    margin-block-end: 25px;
}
.input-group {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;  
    border-radius: 3px; 
   
    
   
}
h2 {
    color: black;
    font-size: 30px;
    height: 50px;
    text-align: center;
}
label {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 10px;
  
}
input,textarea {
    padding: 17px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    outline: none;
}
button {
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
}
input::placeholder, textarea::placeholder {
    color:#b5cab6;
}

